# NB: this file intentionally has trailing whitespace!
snippet date "YYYY-MM-DD" w
`!v strftime('%Y-%m-%d')`
endsnippet

snippet "[[]time]?" "[HH:MM] " r
[`!v strftime('%H:%M')`] 
endsnippet

snippet coveragerc ".coveragerc" b
[run]
# source = ...
# omit = ...
# cover_pylib = False
# branch = True

[report]
exclude_lines =
    pragma: nocover
    except ImportError:
    except NameError:
endsnippet

snippet pypirc ".pypirc" b
[pypi]
username = $1
password = $2
endsnippet
