snippet tox "tox.ini" !b
[tox]
envlist =
    ${1:py26,py27,py32,py33,py34,pypy}

[testenv]
deps =
    ${2:zope.testrunner}
commands =
    ${3:zope-testrunner --test-path=src {posargs:-pvc}}
endsnippet

snippet coverage "tox -e coverage" !b
[testenv:coverage]
deps =
    {[testenv]deps}
    coverage
commands =
    coverage run -m zope.testrunner --test-path=src {posargs:-pvc}
    coverage report -m
endsnippet
