global !p
# see ~/.vim/pythonx/mg_snip.py
from mg_snip import git_last_commit_message
endglobal

snippet prevmsg "Insert previous commit message" b
`!p snip.rv = git_last_commit_message(path)`
endsnippet
