context "snip.line"
snippet "([-=~*])+" "underline" bre
`!p snip.rv = match.group(1) * len(snip.buffer[context - 1])`
endsnippet

snippet "^(### .* ([-=~*#])+)" "separator to right margin" r
`!p snip.rv = match.group(1).ljust(80, match.group(2))`
endsnippet
