snippet pdb "import pdb; pdb.set_trace()" w
import pdb; pdb.set_trace()
endsnippet

snippet traceback "Traceback pattern for doctests" b
Traceback (most recent call last):
  ...
${1:Exception}
endsnippet
