snippet "snip(pet)?" "snippet" brs
snippet "${1:trigger}" "${2:description}" ${3:options}
${0:# options:
#   b - beginning of line
#   i - in-word expansion
#   w - word boundary
#   r - regexp
#   t - do not expand tabs
#   s - remove whitespace
#   m - trim trailing whitespace
#   e - context snippet
#   A - autotrigger
}
`!v "endsnippet"`
endsnippet
